.cog {
-webkit-transition:All 11s ease;
-moz-transition:All 11s ease;
-o-transition:All 11s ease;
-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
}
.cog:hover{
-webkit-transform: rotate(234deg) scale(1) skew(1deg) translate(0px);
-moz-transform: rotate(234deg) scale(1) skew(1deg) translate(0px);
-o-transform: rotate(234deg) scale(1) skew(1deg) translate(0px);
}

#digitalSignageCog {
	width:156px;
	height:156px;
	background:url("cogs/digitalSignageCog.png");	
}
#posCog {
	width:192px;
	height:193px;
	background:url("cogs/posCog.png");	
}
#contactCog {
	width:117px;
	height:117px;
	background:url("cogs/contactCog.png");	
}