/* 
    Document   : cogs
    Created on : 17-Nov-2011, 17:09:03
    Author     : mat
    Description:
    Control the position of cogs
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
#coglogo1 {
    position:absolute;
    z-index:2000;
    width:200px;
    height:200px;
    cursor:pointer;
    top:50px;
    left:50px;

}


#cog1div {
    position:absolute;
    z-index:1000;
    top:00px;
    left:50px;
}
#cog1{
    width:300px;
    height:300px;
}

#cog2div {
    position:absolute;
    z-index:999;
    top:170px;
}
#cog2 {

    width:170px;
    height:170px;
}

#coglogo3 {
    position:absolute;
    z-index:2000;
    width:150px;
    height:150px;
    cursor:pointer;
    top:30px;
    left:30px;

}
#cog3div {
    position:absolute;
    z-index:1000;
    top:250px;
    left:250px;
}
#cog3 {

    width:210px;
    height:210px;
}

#cog4div {
    position:absolute;
    z-index:999;
    top:310px;
    left:150px;
}
#cog4 {

    width:150px;
    height:150px;
}