body {
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom: 0px;
}

h1, h2, h3, h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}
h3 {
	line-height: 20px;
}
h1 {
	color:#f49131;
	margin-bottom: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}
.bodycontain {
	background: url('images/galaxy.jpg');
	background-size: cover;
}
footer {
	background: #fff;
	border-top: #f7941e solid 3px;
}

a:hover {
	text-decoration:none;
}

[class*="span"] {

	margin-left: 0px;
}
.row {
	margin-left: 0px;
}

.logo {

	display: block;
	width: 152px;
	height: 85px;
	margin: 15px auto;
}
.logo img {
	width: 152px;
	height: 85px;
}

.contentlogo {
	float:left;
	width:50px;
	margin-right:5px;
	margin-bottom:5px;
}

.navbar-access {
	background: #fff;
	border-bottom: #f7941e solid 3px;
}

#navcontainer {
	display:block;
z-index: 6;
}
#navcontainer ul {
	
	margin: 0 0 5px 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#navcontainer > ul > li {
	display: inline;
	position: relative;
}

#navcontainer ul > li > ul {
	display:none;
	left: 0;
	width: 120px;
	position: absolute;
	background-color: #ffffff;
	z-index: 5;
	text-align:left;
	padding-top:10px;
	border-bottom:3px solid #f7941e;
}
#navcontainer ul ul li {
	border-bottom: 1px solid #eeeeee;
	border-top: 0px solid #eeeeee;
	list-style: none;
	position: relative;
	padding:5px 10px;
}
#navcontainer ul ul li a {
	padding:0;
}

#navcontainer ul li a {
	transition: All 1s ease;
	-webkit-transition: All 1s ease;
	-moz-transition: All 1s ease;
	-o-transition: All 1s ease;
	text-decoration: none;
	padding: 10px 1em;
	color: #555;
}

#navcontainer ul li a:hover {
	color: #f7941e;
}
.nav-tabs > li > a {

background: rgb(255, 201, 136);
color:#333;
}
.nav-tabs > li > a:hover {

background: #f7941e;
color:#fff;
}

.mainbody {

	margin-bottom: 0px;
	margin-top: 0px;
	background-color: rgba(255, 255, 255, 1);
	border-bottom: 1px solid #ccc;
	border-left: 0px solid #2790B0;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-bottom: 20px;
	min-height: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.mainImage {
	width:99%;
	border: solid 2px #f7941e;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
}

.bigButton {
	padding-right:6px;
	background:#f99605;
	
	
}
.bigButton img {
	border:solid 3px #f99605;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
}

.bigButton img:hover {
	opacity:0.5;
}

.footer_menu {
	float: right;
	padding: 9px 0px 5px;
	height: 24px;
}
.footer_menu li {
	display: inline;
	padding-left: 5px;
}

.footer_menu a {
	text-decoration: none;
	color: #444;
}
.social_links i {
	margin-right: 5px;
	transition: All 1s ease;
	-webkit-transition: All 1s ease;
	-moz-transition: All 1s ease;
	-o-transition: All 1s ease;
}
.social_links i:hover {
	color: #FBB450;
}